extends default

block content

  div.homepage
    a(href="/")
      br
      button.button Return Home
      br 
      br

  div.container
    h2 #{person.firstname}'s Page
  div.spacer
    hr

  div.person
    div.person
      h2.person-name
        hr
        p #{person.firstname} #{person.lastname} 
        p #{person.bio  || 'no bio'} 
        p #{person.tagline || 'no tagline'}
        p #{person.id  || 'no slug-id'} 
        p #{`${person._id}`.slice(-10)}
        hr

    div.delete
      a(href=`/person/edit/${person.id}`)
        button.button Edit this person