extends default

block content
  
  .button-container
    a.button(href="/person/add") Click to add a new person

  .tweeters
    each person in people
      .person
        p 
          a(href=`/person/${person.id}`) #{person.firstname} #{person.lastname} 
        p #{person.bio  || 'no bio'} 
        p #{person.tagline || 'no tagline'}
        p #{person.id  || 'no slug-id'} 
        p #{`${person._id}`.slice(-10)}
  


