extends default

block content
  div.container
    h2 Home Page
  div.spacer
    hr
  
  div.add-new-person
    a(href="/person/add")
      br
      button.button Click to add a new person
      br 
      br

  div.people
    each person in people
      div.person
        h2.person-name
          hr
          p #{person.firstname} #{person.lastname} 
          p #{person.bio  || 'no bio'} 
          p #{person.tagline || 'no tagline'}
          p #{person.id  || 'no slug-id'} 
          p #{`${person._id}`.slice(-10)}
          hr