extends default

block content
  div.container
    each person in people
      div.person
        h2.person-name
          | #{person.firstname} #{person.lastname}
        
        //- // div.person-image(style=`background: url('/images/${person.imgSrc}') top center
        //- // no-repeat; background-size: cover;`)
        //- //- p
        //- //-   a(href=`/profile/${person.id}`)
        //- //-     | View #{person.firstname}'s Profile [subdomain]
        //- //- p
        //- //-   a(href=`/profile?id=${person.id}`)
        //- //-     | View #{person.firstname}'s Profile [parameter]