extends default

block content
  div.container
    h2 Placeholder Home Page
  div.spacer
    hr

  div.tests
    each test in tests
      div.test
        h2.test-name
          hr
          p #{test.firstname} #{test.lastname} 
          p #{test.bio  || 'no bio'} 
          p #{test.tagline || 'no tagline'}
          p #{test.id  || 'no slug-id'} 
          p #{`${test._id}`.slice(-10)}
          hr
        
        //- // div.person-image(style=`background: url('/images/${person.imgSrc}') top center
        //- // no-repeat; background-size: cover;`)
        //- //- p
        //- //-   a(href=`/profile/${person.id}`)
        //- //-     | View #{person.firstname}'s Profile [subdomain]
        //- //- p
        //- //-   a(href=`/profile?id=${person.id}`)
        //- //-     | View #{person.firstname}'s Profile [parameter]