mixin personForm(person = {})
  form(action=`/person/add/${person.id || ''}` method="POST" class="person")

    label(for="firstname") First Name
    input(type="text" name="firstname" value=person.firstname)

    label(for="lastname") Last Name
    input(type="text" name="lastname" value=person.lastname)

    label(for="bio") Bio
    input(name="bio" value=person.bio)

    label(for="tagline") Tagline
    input(name="tagline" value=person.tagline)

    label(for="id") Description
    input(name="id" value=person.id)

    input(type="submit" value="save" class="button")