mixin feed()

  each tweet in tweets
  
    //- Placeholders generating random values fo rlike RT comment counts
    - let commentno = Math.floor(Math.random() * 20) + 1
    - var rtno = (commentno * (Math.floor(Math.random() * 5) + 1)) - (Math.floor(Math.random() * 4) + 1)
    - var likeno = (rtno * (Math.floor(Math.random() * 5) + 1)) - (Math.floor(Math.random() * 4) + 1)

    .twocol.box
      //- Display Tweet Author Avatar
      .item
        - var user_profile_img = `${tweet.user_profile_img}`
        img.profile(src=user_profile_img)
      <!-- Display Tweet Body-->
      
      .item
      
        //- User details
        p #[strong #{tweet.username}] &nbsp; &nbsp;  @#{tweet.username} &nbsp; &nbsp;  #{tweet.created_at}
      
        //- Tweet text
        a.tweetlink(href=`/tweet/${tweet._id}`) #{tweet.tweet_text}

        - const tweet_img = `${tweet.tweet_img}`
        p 
        img.center(src=tweet_img)
        
        //- Comment, RT & Like counts
        br
        img.icon(src='/images/icons/comment.svg')
        | &nbsp; #{commentno}  &nbsp; &nbsp; &nbsp; &nbsp; 
        img.icon(src='/images/icons/retweet.svg')
        | &nbsp;#{rtno} &nbsp; &nbsp; &nbsp; &nbsp; 
        img.icon(src='/images/icons/like.svg')
        | &nbsp;#{likeno}