extends default

block content
  .container 
    .twocol.menucol
      each item in menu
        .item 
          - var img = `${item.img}`
          img.icon(src=img) 
        .item 
          p #{item.id}

    .twocol.tweetcol
      each tweet in tweets
        .item
          hr 
          - var img = `${tweet.img}`
          img.profile(src=img)
        .item 
          p #[strong #{tweet.username}] @#{tweet.username}
          p #{tweet.text}
          p #{tweet.created_at}
          
    .col
    
    .col

    .col
    
    .col





